<div class = 'row'>
	<div class = 'col-md-2'>
		<h3 class = 'text-center'><%= @user.name %> </h3>
		<%= gravatar_tag @user.email, size: 150 %>
	</div>
	<div class = 'col-md-5'>
		<h3 class = 'text-center'>My Places</h3>
		<table class = 'table table-striped'>
			<thead> 
				<tr> 
					<th>Name</th> 
					<th>Created At</th> 
					<th>Actions</th> 
					 
				</tr> 
			</thead> 
			<tbody>
				<% @places.each do |place| %>
				<tr>
					<td><%= link_to place.name, place_path(place) %></td>
					<td><%= time_ago_in_words(place.created_at)%> ago</td>
					<td><%= link_to 'Edit', edit_place_path(place) %> | <%= link_to 'Delete', place_path(place), method: :delete %></td>
				</tr>
				<% end %>
		</table>
		<%= link_to 'New Place', new_place_path %>
		</div>
	<div class = 'col-md-5'>
		<h3 class = 'text-center'>My Reviews</h3>
		<table class = 'table table-striped'>
			<thead>
				<tr>
					<th>Place Name</th>
					<th>Created At</th>
					<th>Rating</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @reviews.each do |review| %>
				<tr>
					<td><%= link_to review.place.name, place_path(review.place)%></td>
					<td><%=time_ago_in_words(review.created_at)%> ago</td>
					<td><div class = 'score_<%=review.id%>'></div></td>
					<td><%= link_to 'Edit', edit_review_path(review) %> | <%= link_to 'Delete', review_path(review), method: :delete %></td>
				</tr>
				<% end %>

			</tbody>
		</table>
	</div>
</div>

<script>
<% @reviews.each do |review| %>
  $(".score_<%=review.id %>").raty({
    starOn: "<%= image_path('star-on.png') %>",
    starOff: "<%= image_path('star-off.png') %>",
    score: <%= review.score %>,
    readOnly: true
  });
<% end %>
</script>
