<div class = 'row'>
  <div class = 'col-md-4'>
    <h2><%= @place.name %></h2>

    <p><strong>Address: </strong>
      <%= @place.address %>
    </p>

    <p><strong>Phone Number: </strong>
     <%=@place.phone %>
   </p>

    <p><strong>Website: </strong>
     <%=@place.website %>
    </p>

    <p><strong>Description: </strong> 
      <%=@place.description %>
    </p>

    <div id="map-canvas" style="width: 230px; height:230px"></div> 
  </div>

  <div class = 'col-md-8'>
    <h3>Reviews by people</h3>
    <% if current_user %>
    <%= render 'reviews/form' %>
    <h5> All Reviews </h5>
      <%= render @reviews %>
    <% end %>
  </div>
</div>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

<script type="text/javascript">

var map;
var myCenter = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

function initMap() {
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    center: myCenter,
    zoom: 13
  });

  var marker = new google.maps.Marker({
    position: myCenter,
    map:map,
  })
}

</script>
